.playing-card {
	width: 100px;
	height: 140px;
	border: 1px solid #000;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	position: relative;
	border: black 2px solid;
}

.card-inner {
	line-height: 40pt;
}

.card-rank {
	font-size: 32pt;
}

.card-suit {
	font-size: 80pt;
}

.face-down {
	background: red;
	border: black 2px solid;
}

.face-up:hover {
	transform: scale(1.05);
	transition: transform 0.2s;
	cursor: pointer;
	z-index: 100;
}

.face-up:hover ~ .playing-card {
	background: rgba(255, 255, 255, 0.5);
	transform: translateY(100px);
	transition: background 0.2s;
	transition: transform 0.2s;
}
